@use '../abstracts/variables';

#resume {
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: variables.$sky-300;
}

#resume-resume-button {
  width: 150px;
}

.resume-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}