$honolulu-blue: hsl(202, 77%, 37%);
$naaavy-beans: hsl(202, 77%, 37%);
$claret: hsl(339, 62%, 30%);
$goldenrod: #D5A021;
$bronze: #D58936;
$shiny-shamrock: hsl(148, 30%, 46%);
$ash-light-gray: rgb(185, 185, 185);
$ash-gray: hsla(210, 35%, 35%, 1);
$coal: hsl(210, 20%, 20%);
$black-hole: hsl(210, 37%, 15%);
$dark-lava: #4B4237;
$something-is-off-white: hsl(0, 0%, 87%);
$cloud: hsl(0, 0%, 93%);

$linkedin_blue: rgb(0, 119, 181);

/* From Tailwind */
$slate-100: #f1f5f9;

$zinc-800: #27272a;

$sky-50: #f0f9ff;
$sky-100: #e0f2fe;
$sky-200: #bae6fd;
$sky-300: #7dd3fc;
$sky-400: #38bdf8;
$sky-500: #0ea5e9;
$sky-600: #0284c7;
$sky-700: #0369a1;
$sky-800: #075985;
$sky-900: #0c4a6e;

$primary_color: $honolulu-blue;
$secondary_color: $dark-lava;
$accent_1: $goldenrod;
$accent_2: $bronze;