$honolulu-blue: hsl(202, 77%, 37%);
$naaavy-beans: hsl(202, 77%, 37%);
$claret: hsl(339, 62%, 30%);
$goldenrod: #D5A021;
$bronze: #D58936;
$shiny-shamrock: hsl(148, 30%, 46%);
$ash-light-gray: rgb(185, 185, 185);
$ash-gray: hsla(210, 35%, 35%, 1);
$coal: hsl(210, 20%, 20%);
$black-hole: hsl(210, 37%, 15%);
$dark-lava: #4B4237;
$something-is-off-white: hsl(0, 0%, 87%);
$cloud: hsl(0, 0%, 93%);

$linkedin_blue: rgb(0, 119, 181);

$primary_color: $honolulu-blue;
$secondary_color: $dark-lava;
$accent_1: $goldenrod;
$accent_2: $bronze;
