@use 'abstracts/variables';

@use 'base/normalize';

@use 'components/section';
@use 'components/intro';
@use 'components/work';
@use 'components/about';
@use 'components/resume';
@use 'components/contact';
@use 'components/recentwork';
@use 'components/jiratask';
@use 'components/technologies';

@use 'layout/footer';

/*
  Global Styles

  Theme colors
  - primary: HSL(202, 87%, 42%)

  Reference: https://www.koderhq.com/tutorial/sass/project-structure/
*/
body {
  font-family: "DejaVu Mono", monospace;
  background-color: #EEEEEE;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

.bold {
  font-weight: 700;
}
.italic {
  font-style: italic;
}

.text-blue {
  color: variables.$honolulu-blue;
}
.text-gray {
  color: variables.$ash-gray;
}
.text-sm {
  font-size: .75rem;
}
.text-large {
  font-size: 1.25rem;
}
.no-underline {
  text-decoration-line: none;
}
.clickable {
  cursor: pointer;
}
.hidden {
  visibility: hidden;
}

.border-radius-4 {
  border-radius: 16px;
}

.py-4 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.px-6 {
  padding-left: 24px;
  padding-right: 24px;
}

.bg-claret {
  background-color: variables.$claret;
}

.text-slate-100 {
  color: variables.$slate-100;
}

.bg-zinc-800 {
  background-color: variables.$zinc-800;
}

.bg-sky-50 {
  background-color: variables.$sky-50;
}
.bg-sky-100 {
  background-color: variables.$sky-100;
}
.bg-sky-200 {
  background-color: variables.$sky-200;
}
.bg-sky-300 {
  background-color: variables.$sky-300;
}
.bg-sky-400 {
  background-color: variables.$sky-400;
}
.bg-sky-500 {
  background-color: variables.$sky-500;
}
.bg-sky-600 {
  background-color: variables.$sky-600;
}
.bg-sky-700 {
  background-color: variables.$sky-700;
}
.bg-sky-800 {
  background-color: variables.$sky-800;
}
.bg-sky-900 {
  background-color: variables.$sky-900;
}
.text-sky-500 {
  color: variables.$sky-500;
}
.text-sky-600 {
  color: variables.$sky-600;
}

.emphasis {
  color: variables.$honolulu-blue;
}

.w-40 {
  width: 10rem; /* 160px */
}
.w-50p {
  width: 50%;
}

.mb-4 {
  margin-bottom: 16px;
}

.two-cols {
  column-count: 2;
}

/*
  Flex
*/
.self-center {
  align-self: center;
}

#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
  Logo
*/
/* .logo-container {
  margin: .5rem;
} */
#logo {
  border-radius: 50%;
  background-color: variables.$honolulu-blue;
  width: 32px;
  height: 32px;
  display: table-cell;
  color: white;
  float: left;
  font-weight: 700;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 18px;
  margin-top: 0;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  text-align: center;
}

/*
  Header
*/
header {
  padding: 16px;
  display: flex;
  height: 48;
  justify-content: space-between;
  box-shadow: 0 2px 2px variables.$sky-50;
  background-color: variables.$sky-50;
}
header div {
  display: flex;
  justify-content: between;
  align-items: center;
  gap: .3rem;
}
header div span {
  font-size: 1.5rem;
  color: variables.$coal;
}
nav {
  display: none;
}
@media screen and (min-width: 600px) {
  nav {
    display: block;
    display: flex;
    gap: 1rem;
  }
}
nav div span {
  font-size: 1rem;
}
.header-link {
  cursor: pointer;
}
.header-link:hover {
  color: variables.$black-hole;
  text-decoration: underline;
}

.section-half {
  max-width: 300px;
}

button.secondary-button {
  margin: 1rem 0;
  padding: 1rem 2rem;
  background-color: variables.$accent_2;
  color: variables.$dark-lava;
  text-decoration: none;
  border-radius: 1rem;
}
button.secondary-button:hover {
  background-color: variables.$accent_1;
  cursor: pointer;
}

/*
  Current Stack
*/
.current-stack-item {
  padding: 1rem;
  border-radius: 20px;
  /* background-color: hsla(210, 90%, 90%, 1); */
  box-shadow: 0 2px 2px variables.$something-is-off-white;
}

.main {
  height: 800px;
  margin-left: 40%;
  margin-right:40%;
  margin-top: 10%;
}
